@(message: String)

@js = {
  @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("js/graphApp").url)
}

@main("Feed", js) {

<!-- Main Div ================================================= -->
<div class="span12 graph-row">
  <div class="row">

    <!-- Sidebar ================================================== -->
    <div class="span2 graph-sidebar">
      <li style="visibility: hidden;"><a href="#"></a></li>
    </div> <!-- end sidebar -->

    <!-- Body ================================================== -->
    <div class="span10 graph-body">
      <div class="demo-container">
        <div id="placeholder" class="demo-placeholder" style="float:left; width:90%; height: 500px;"></div>
        <p id="choices" style="float:right; width:10%;"></p>
      </div>

      <div id="overview" class="demo-placeholder" style="height:150px; margin-top: 550px;"></div>
    </div> <!-- end graph body -->

  </div>
</div> <!-- end main div -->
}
